{% block body %}
    <p>Bonjour {{ user.username|default(user.email) }},</p>

    <p>
        Vous avez demandé la réinitialisation de votre mot de passe.<br>
        Cliquez sur le lien ci-dessous ou copiez-collez-le dans votre navigateur :
    </p>

    <p style="margin:1.5em 0;">
        <a href="{{ reset_password_url }}">{{ reset_password_url }}</a>
    </p>

    <p style="font-size:0.9em;color:#666;">
        Si vous n’êtes pas à l’origine de cette demande, ignorez simplement cet e-mail.
    </p>
{% endblock %}
